{% extends 'app.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if post %}
        <h1>
            {{ post.title }}
        </h1>
        {% if post.user %}
            <p><span class="small">created By: {{ post.user }}</span></p>
        {% endif %}
        {% if post.image %}
            <img src="{{ post.image.url }}" class="img-fluid">
        {% endif %}
        <hr>
        <p>
            {{ post.description }}
        </p>
        <p class="small">
            <span class="badge badge-primary">{{ post.created_at | date:"D d M Y" }}</span>
            <span class="badge badge-secondary">{{ post.updated_at | date:"D d M Y" }}</span>
        </p>
        <form action="{% url 'posts:show' post.slug %}" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <button class="btn btn-success">Submit</button>
        </form>
        {% if comments %}
            <p>Comments</p>
            {% for comment in post.comments %}
                <blockquote class="blockquote">
                    <p class="mb-0">{{ comment.comments }}</p>
                    <footer class="blockquote-footer">
                        {{ comment.user.username }}
                        <cite title="Source Title">{{ comment.created_at|timesince }}</cite>
                    </footer>
                </blockquote>
                <form action="{% url 'posts:show' post.slug %}" method="post">
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    {% csrf_token %}
                    {{ comment_form | crispy }}
                    <button type="submit" class="btn btn-sm btn-success">reply</button>
                </form>
                <hr>
            {% endfor %}
        {% endif %}
        <a class="btn btn-sm btn-primary" href="{% url 'posts:edit' post.slug %}">
            edit
        </a>
        <a href="{% url 'posts:delete' post.slug %}" class="btn btn-sm btn-danger">delete</a>


    {% endif %}
{% endblock %}