{% extends 'app.html' %}
{% block content %}
    {% if post %}
        <h1>
            {{ post.title }}
        </h1>
        <hr>
        <p>
            {{ post.description }}
        </p>
        <p class="small">
            <span class="badge badge-primary">{{ post.created_at | date:"D d M Y" }}</span>
            <span class="badge badge-secondary">{{ post.updated_at | date:"D d M Y" }}</span>
        </p>
        <a class="btn btn-sm btn-primary" href="{% url 'posts:edit' post.id %}">
            edit
        </a>
    {% endif %}
{% endblock %}